.footer {
  background-color: var(--second-color);
  color: white;
  padding: 40px;
  text-align: center;
}
.card-group {
  background-color: transparent !important;
}
.card {
  --bs-card-border-color: none;
  --bs-card-bg: transparent;
  color: #fff;
}
.p {
  background-color: var(--second-color);
  padding: 2.5rem;
  color: #fff;
  text-align: center;
}
a {
  border: 1px solid white;
  padding: 7px;
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  margin-right: 7px;
}
